// Colors
// Teal
$lightTeal: #00d6bc;
$midTeal: #00ba96;
$darkTeal: #008e79;

// Yellow
$yellow: #ffda00;
$lightYellow: #ffe566;

// Gray
$lightGray: #999;
$midGray: #888;

// Red
$foregroundRed: #e75850;
$backgroundRed: #bf4747;
$shadowRed: #80312d;

// Foreground colors
$foregroundLight: #fff;
$foregroundDark: #000;

// Font
$fontFamily: "Raleway", sans-serif;

// Viewport minimum sizes
$vp-1: 576px;
$vp-2: 768px;
$vp-3: 992px;
$vp-4: 1200px;
$vp-max: 1600px;


// Icons
@mixin iconFont() {
    font-family: "wozz-icons";
    line-height: 1;
}

// icon names
$icon-checkmark:       '\E000';
$icon-edit:            '\E001';
$icon-cancel:          '\E002';
$icon-gripper:         '\E003';
$icon-chevronDown:     '\E004';
$icon-chevronRight:    '\E005';
$icon-edit:            '\E006';
$icon-search:          '\E007';
$icon-plus:            '\E008';

// Drop shadow
@mixin dropShadow($x: 0, $y: 5px, $blur: 3px, $spread: 0, $color: rgba(0,0,0,0.17)) {
    box-shadow: $x $y $blur $spread $color;
}

// Padding used across the site
@mixin sitePadding() {
    transition: padding 100ms ease-in-out;
    padding-right: 12px;
    padding-left: 12px;

    @media (min-width: $vp-3) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

// Control states
@mixin controlFocus() {
    &:focus {
        outline: 0;
        box-shadow: inset 0 0 3px 1px $lightTeal;
    }
}

@mixin buttonActive() {
    &:active {
        background: $yellow;
        box-shadow: none;

        &:before {
            color: $darkTeal;
        }
    }
}

// hides the text while leaving it accessible to screen readers
@mixin hideText() {
    span {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}

// Tail for modal popovers
@mixin modalTail() {
    + .modal-tail {
        position: absolute;
        height: 22px;
        width: 34px;
        bottom: -20px;
        transform: translate(calc(-50% + 1px), -100%);
        z-index: 11;
        animation: $fadeTiming;

        &.top {
            transform: translate(calc(-50% + 1px), 0) scaleY(-1);
        }
    }
}

@mixin annotatorWrapper() {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $lightTeal;
    margin-bottom: 12px;
    background: url("../images/background.png");
    font-size: 0;

    > img {
        display: inline-block;
    }
}

// Animations
$fadeTiming: animFadeIn 100ms ease-in-out;

@keyframes animFadeIn {
    0% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}
