// Colors
// Teal
$lightTeal: #00d6bc;
$midTeal: #00ba96;
$darkTeal: #008e79;

// Yellow
$yellow: #ffda00;
$lightYellow: #ffe566;
$yellow-20: #fff8cc;
$yellow-40: #fff099;
$yellow-60: #ffe966;

// Gray
$lightGray: #999;
$midGray: #888;

// Red
$foregroundRed: #e75850;
$backgroundRed: #bf4747;
$shadowRed: #80312d;

// Foreground colors
$foregroundLight: #fff;
$foregroundDark: #000;

// Font
$fontFamily: "Raleway", sans-serif;

// Viewport minimum sizes
$vp-1: 576px;
$vp-2: 768px;
$vp-3: 992px;
$vp-4: 1200px;
$vp-max: 1600px;


// Icons
@mixin iconFont() {
    font-family: "wozz-icons";
    line-height: 1;
}

// icon names
$icon-checkmark:       '\E000';
$icon-edit:            '\E001';
$icon-cancel:          '\E002';
$icon-gripper:         '\E003';
$icon-chevronDown:     '\E004';
$icon-chevronRight:    '\E005';
$icon-edit:            '\E006';
$icon-search:          '\E007';
$icon-plus:            '\E008';

// Drop shadow
@mixin dropShadow($x: 0, $y: 5px, $blur: 3px, $spread: 0, $color: rgba(0,0,0,0.17)) {
    box-shadow: $x $y $blur $spread $color;
}

// Padding used across the site
@mixin sitePadding() {
    transition: padding 100ms ease-in-out;
    padding-right: 12px;
    padding-left: 12px;

    @media (min-width: $vp-3) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

// Control states
@mixin controlCommon() {
    height: 36px;
    padding: 0;
    border: 3px solid $darkTeal;
    border-radius: 8px;
    display: flex;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

@mixin controlInput() {
    padding: 0 8px;
    position: relative;
    background: $foregroundLight;
    flex: 1;
    align-items: center;
}

@mixin controlButton() {
    background: $darkTeal;
    position: relative;
    justify-content: center;
    align-items: center;
    color: $foregroundLight;
}

@mixin controlFocus() {
    &.wozz-tab-focus:focus {
        outline: 0;
        box-shadow: inset 0 0 3px 1px $lightTeal;
    }
}

@mixin buttonActive() {
    &:active {
        background: $yellow;
        box-shadow: none;
        color: $darkTeal;

        &:before {
            color: inherit;
        }
    }
}

// hides the text while leaving it accessible to screen readers
@mixin hideText() {
    span {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}

// Tail for modal popovers
@mixin modalTail() {
    + .modal-tail {
        position: absolute;
        height: 22px;
        width: 34px;
        bottom: -20px;
        transform: translate(calc(-50% + 1px), -100%);
        z-index: 11;
        animation: $fadeTiming;

        &.top {
            transform: translate(calc(-50% + 1px), 0) scaleY(-1);
        }
    }
}

// Dropdown styles
@mixin dropDownStyles($width: 200px, $top: 32px) {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: $top;
    background: $foregroundLight;
    width: $width;
    transition: all 100ms ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    height: 0;
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0);

    &.show {
        visibility: visible;
        box-shadow: 0 3px 5px 2px rgba(0,0,0,0.17);
        transition-duration: 300ms;
    }

    li {
        margin: 0;

        a,
        button {
            font-size: 18px;
            color: $foregroundLight;
            text-decoration: none;
            border-radius: 8px;
            font-weight: 500;
            position: relative;
            background: transparent;
            width: 100%;
            border: 0;
            text-align: left;
            padding: 0 12px;
            height: 44px;
            color: $lightTeal;
            border-radius: 0;

            &:hover,
            &:focus {
                outline: 0;
                background: $darkTeal;
                color: $foregroundLight;
            }
        }
    }
}

@mixin annotatorWrapper() {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $lightTeal;
    margin-bottom: 12px;
    background: url("../images/background.png");
    font-size: 0;

    > img {
        display: inline-block;
        max-width: 100%;
        min-width: 400px;
    }
}

// Animations
$fadeTiming: animFadeIn 100ms ease-in-out;
