@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-add-control {
  padding: 92px 48px; }
  .wozz-add-control .wozz-add-ctrl-number {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 auto 16px auto;
    color: #fff;
    background: #008e79;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum"; }
  .wozz-add-control .wozz-add-ctrl-input {
    display: flex;
    max-width: 332px;
    margin: 0 auto; }
    .wozz-add-control .wozz-add-ctrl-input input[type=file] {
      position: absolute;
      height: 0.1px;
      width: 0.1px;
      overflow: hidden; }
    .wozz-add-control .wozz-add-ctrl-input > label {
      flex: 1;
      display: flex; }
      .wozz-add-control .wozz-add-ctrl-input > label.placeholder {
        color: #757575; }
    .wozz-add-control .wozz-add-ctrl-input .pseudo-input {
      height: 36px;
      padding: 0;
      border: 3px solid #008e79;
      border-radius: 8px;
      display: flex;
      font-family: Raleway, sans-serif;
      font-weight: 500;
      box-sizing: border-box;
      padding: 0 8px;
      position: relative;
      background: #fff;
      flex: 1;
      align-items: center;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 13px;
      margin-right: -3px;
      white-space: nowrap; }
      .wozz-add-control .wozz-add-ctrl-input .pseudo-input:focus {
        outline: 0;
        box-shadow: inset 0 0 3px 1px #00d6bc; }
      .wozz-add-control .wozz-add-ctrl-input .pseudo-input + span {
        height: 36px;
        padding: 0;
        border: 3px solid #008e79;
        border-radius: 8px;
        display: flex;
        font-family: Raleway, sans-serif;
        font-weight: 500;
        box-sizing: border-box;
        background: #008e79;
        position: relative;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-basis: 74px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
        font-weight: 400; }
        .wozz-add-control .wozz-add-ctrl-input .pseudo-input + span:focus {
          outline: 0;
          box-shadow: inset 0 0 3px 1px #00d6bc; }
        .wozz-add-control .wozz-add-ctrl-input .pseudo-input + span:active {
          background: #ffda00;
          box-shadow: none;
          color: #008e79; }
          .wozz-add-control .wozz-add-ctrl-input .pseudo-input + span:active:before {
            color: inherit; }
    .wozz-add-control .wozz-add-ctrl-input input[type=text] {
      height: 36px;
      padding: 0;
      border: 3px solid #008e79;
      border-radius: 8px;
      display: flex;
      font-family: Raleway, sans-serif;
      font-weight: 500;
      box-sizing: border-box;
      padding: 0 8px;
      position: relative;
      background: #fff;
      flex: 1;
      align-items: center; }
      .wozz-add-control .wozz-add-ctrl-input input[type=text]:focus {
        outline: 0;
        box-shadow: inset 0 0 3px 1px #00d6bc; }
    .wozz-add-control .wozz-add-ctrl-input .wozz-ctrl-select + input[type=text] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -3px; }
