@import './shared';

.annotation-modal {
    position: absolute;
    width: 320px;
    height: 100px;
    background-color: $lightYellow;
    animation: $fadeTiming;
    z-index: 10;
    border-bottom: 3px solid $darkTeal;

    .heading {
        font-size: 22px;
        color: $darkTeal;
        font-weight: 400;
        padding: 12px;
        padding-bottom: 0;
    }

    .close-btn {
        border: 0;
        background: none;
        position: absolute;
        padding: 4px 6px;
        top: 0;
        right: 0;
        outline: 0;

        &:after {
            content: $icon-cancel;
            @include iconFont();
            color: $darkTeal;
            font-size: 9px;
        }

        &.wozz-tab-focus:focus,
        &:active {
            &:after {
                color: $foregroundDark;
            }
        }

        &:active {
            transform: translate(0, 1px);
        }

        span {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
    }

    form {
        padding: 12px;
        display: flex;

        input,
        button {
            border-radius: 8px;
            border: 3px solid $darkTeal;

            @include controlFocus();
        }

        input {
            flex: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -3px;
            padding: 0 8px;
        }

        button {
            width: 36px;
            height: 36px;
            background: $darkTeal;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:before {
                content: $icon-checkmark;
                @include iconFont();
                color: $foregroundLight;
                font-size: 18px;
            }

            @include buttonActive();

            span {
                position: absolute;
                width: 1px;
                height: 1px;
                overflow: hidden;
            }
        }
    }

    @include modalTail();
}
