@charset "UTF-8";
@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.annotation-modal {
  position: absolute;
  width: 320px;
  height: 100px;
  background-color: #ffe566;
  animation: animFadeIn 100ms ease-in-out;
  z-index: 10;
  border-bottom: 3px solid #008e79; }
  .annotation-modal .heading {
    font-size: 22px;
    color: #008e79;
    font-weight: 400;
    padding: 12px;
    padding-bottom: 0; }
  .annotation-modal .close-btn {
    border: 0;
    background: none;
    position: absolute;
    padding: 4px 6px;
    top: 0;
    right: 0;
    outline: 0; }
    .annotation-modal .close-btn:after {
      content: "";
      font-family: "wozz-icons";
      line-height: 1;
      color: #008e79;
      font-size: 9px; }
    .annotation-modal .close-btn:focus:after, .annotation-modal .close-btn:active:after {
      color: #000; }
    .annotation-modal .close-btn:active {
      transform: translate(0, 1px); }
    .annotation-modal .close-btn span {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden; }
  .annotation-modal form {
    padding: 12px;
    display: flex; }
    .annotation-modal form input,
    .annotation-modal form button {
      border-radius: 8px;
      border: 3px solid #008e79; }
      .annotation-modal form input:focus,
      .annotation-modal form button:focus {
        outline: 0;
        box-shadow: inset 0 0 3px 1px #00d6bc; }
    .annotation-modal form input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -3px;
      padding: 0 8px; }
    .annotation-modal form button {
      width: 36px;
      height: 36px;
      background: #008e79;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .annotation-modal form button:before {
        content: "";
        font-family: "wozz-icons";
        line-height: 1;
        color: #fff;
        font-size: 18px; }
      .annotation-modal form button:active {
        background: #ffda00;
        box-shadow: none; }
        .annotation-modal form button:active:before {
          color: #008e79; }
      .annotation-modal form button span {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden; }
  .annotation-modal + .modal-tail {
    position: absolute;
    height: 22px;
    width: 34px;
    bottom: -20px;
    transform: translate(calc(-50% + 1px), -100%);
    z-index: 11;
    animation: animFadeIn 100ms ease-in-out; }
    .annotation-modal + .modal-tail.top {
      transform: translate(calc(-50% + 1px), 0) scaleY(-1); }
