@charset "UTF-8";
@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.annotation-label {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  background: #000;
  box-shadow: inset 0 0 0 2px #000, inset 0 0 0 4px #fff;
  position: absolute;
  padding: 8px 12px;
  cursor: default;
  z-index: 3;
  display: flex;
  max-width: 256px; }
  .annotation-label .label-text {
    max-width: inherit;
    overflow: hidden; }
  .annotation-label .label-editor {
    flex-grow: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background: inherit;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: -4px -8px;
    max-width: inherit; }
    .annotation-label .label-editor:focus {
      outline: 0;
      box-shadow: inset 0 0 3px 1px #00d6bc; }
  .annotation-label .hidden-text-width {
    position: absolute;
    top: -30px;
    white-space: pre;
    max-width: inherit;
    visibility: hidden; }
  .annotation-label .label-dragger-btn,
  .annotation-label .label-edit-btn,
  .annotation-label .label-edit-cancel-btn {
    position: absolute;
    right: -10px;
    background: #00ba96;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.01;
    transition: opacity 250ms ease-in-out; }
    .annotation-label .label-dragger-btn span,
    .annotation-label .label-edit-btn span,
    .annotation-label .label-edit-cancel-btn span {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden; }
    .annotation-label .label-dragger-btn:focus,
    .annotation-label .label-edit-btn:focus,
    .annotation-label .label-edit-cancel-btn:focus {
      outline: 0;
      opacity: 1; }
      .annotation-label .label-dragger-btn:focus:before,
      .annotation-label .label-edit-btn:focus:before,
      .annotation-label .label-edit-cancel-btn:focus:before {
        color: #000; }
    .annotation-label .label-dragger-btn:before,
    .annotation-label .label-edit-btn:before,
    .annotation-label .label-edit-cancel-btn:before {
      color: #fff;
      font-size: 10px;
      width: 20px;
      font-family: "wozz-icons";
      line-height: 1; }
    .annotation-label .label-dragger-btn:after,
    .annotation-label .label-edit-btn:after,
    .annotation-label .label-edit-cancel-btn:after {
      height: inherit;
      width: inherit;
      background: #008e79;
      border-radius: 100%;
      position: absolute;
      right: -1px;
      bottom: -1px;
      content: "";
      z-index: -1; }
    .annotation-label .label-dragger-btn:active,
    .annotation-label .label-edit-btn:active,
    .annotation-label .label-edit-cancel-btn:active {
      transform: translate(1px, 1px); }
      .annotation-label .label-dragger-btn:active:after,
      .annotation-label .label-edit-btn:active:after,
      .annotation-label .label-edit-cancel-btn:active:after {
        display: none; }
  .annotation-label .label-dragger-btn {
    top: -10px; }
    .annotation-label .label-dragger-btn:before {
      content: "";
      font-size: 12px; }
  .annotation-label .label-edit-btn {
    bottom: -10px; }
    .annotation-label .label-edit-btn:before {
      content: ""; }
  .annotation-label .label-edit-cancel-btn {
    bottom: -10px;
    right: -32px; }
    .annotation-label .label-edit-cancel-btn:before {
      content: "";
      font-size: 9px; }
  .annotation-label.is-editing .label-edit-btn:before {
    content: ""; }
  .annotation-label:hover .label-dragger-btn,
  .annotation-label:hover .label-edit-btn,
  .annotation-label:hover .label-edit-cancel-btn, .annotation-label.is-editing .label-dragger-btn,
  .annotation-label.is-editing .label-edit-btn,
  .annotation-label.is-editing .label-edit-cancel-btn, .annotation-label.is-dragging .label-dragger-btn,
  .annotation-label.is-dragging .label-edit-btn,
  .annotation-label.is-dragging .label-edit-cancel-btn, .annotation-label.flash .label-dragger-btn,
  .annotation-label.flash .label-edit-btn,
  .annotation-label.flash .label-edit-cancel-btn {
    opacity: 1; }
