@import './shared';

.wozz-browse {
    .wozz-page-container {
        .wozz-page-content {
            padding: 24px 12px;
            box-sizing: border-box;

            .wozz-browse-item {
                display: flex;
                align-items: flex-start;

                img {
                    max-width: 100px;
                    margin-right: 8px;
                }

                h2 {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
    }
}
