@import './shared';

.wozz-browse-item {
    display: flex;
    align-items: flex-start;

    img {
        max-width: 100px;
        margin-right: 8px;
    }

    h2 {
        font-weight: 600;
        font-size: 18px;
    }
}
