@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-editor {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #00d6bc;
  margin-bottom: 12px;
  background: url("../images/background.png");
  font-size: 0; }
  .wozz-editor > img {
    display: inline-block; }

.wozz-edit-mode {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 102px 20px 20px;
  z-index: 12;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center; }
  .wozz-edit-mode .wozz-edit-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: padding 100ms ease-in-out;
    padding-right: 12px;
    padding-left: 12px;
    height: 82px;
    background: #008e79;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 992px) {
      .wozz-edit-mode .wozz-edit-bar {
        padding-right: 24px;
        padding-left: 24px; } }
    .wozz-edit-mode .wozz-edit-bar .heading {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      line-height: 1; }
    .wozz-edit-mode .wozz-edit-bar button {
      display: inline-flex;
      font-size: 18px;
      font-weight: 500;
      height: 38px;
      padding: 0 12px;
      border: 0;
      font-family: inherit;
      border-radius: 4px;
      color: #fff; }
      .wozz-edit-mode .wozz-edit-bar button.btn-submit {
        background: #00d6bc; }
      .wozz-edit-mode .wozz-edit-bar button.btn-cancel {
        margin-left: 20px;
        background: rgba(0, 0, 0, 0.6); }
      .wozz-edit-mode .wozz-edit-bar button:focus {
        box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.17);
        outline: 0; }
      .wozz-edit-mode .wozz-edit-bar button:active {
        transform: translate(1px, 1px);
        outline: 0; }
  .wozz-edit-mode .wozz-annotator img {
    max-width: 100%; }
