@import './shared';

[class^=wozz-h-] {
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

.wozz-h-page {
    font-size: 30px;
    font-weight: 400;
}

.wozz-h-thing {
    font-size: 36px;
    font-weight: 600;
}

.wozz-h-thing-page {
    font-size: 48px;
    font-weight: 600;
}

.wozz-h-section {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

.wozz-h-widget {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: $darkTeal;
}
