.mg-item-container {
  overflow: auto;
  height: 100vh; }
  .mg-item-container > div {
    position: relative; }
  .mg-item-container.in {
    overflow: hidden; }
    .mg-item-container.in > div {
      animation: 150ms ease-in-out slideUp; }
  .mg-item-container.out {
    overflow: hidden; }
    .mg-item-container.out > div {
      animation: 150ms ease-in-out forwards slideDown; }

@keyframes slideUp {
  0% {
    transform: translateY(95%); }
  100% {
    transform: translateY(0); } }

@keyframes slideDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(110%); } }
  .mg-item-container.design {
    background: #99f3da;
    color: #000;
    font-family: 'Josefin Sans', sans-serif; }
    .mg-item-container.design a {
      color: #336856;
      text-decoration: none; }
      .mg-item-container.design a:hover {
        text-decoration: underline; }
    .mg-item-container.design > div {
      background-color: #fff;
      -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4); }
    .mg-item-container.design .mg-back-to-page {
      color: #336856;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      display: inline-block;
      margin-left: 19px;
      padding: 3px 2px 0; }
      .mg-item-container.design .mg-back-to-page span {
        color: #000; }
      .mg-item-container.design .mg-back-to-page:before {
        position: absolute;
        top: 0;
        font-size: 19px;
        left: -24px; }
      .mg-item-container.design .mg-back-to-page:hover {
        background-color: #99f3da;
        text-decoration: none; }
        .mg-item-container.design .mg-back-to-page:hover:before {
          background: transparent; }
    .mg-item-container.design h1 {
      font-size: 60px;
      line-height: 1;
      text-transform: uppercase;
      color: #000;
      margin: 0 0 8px 0;
      padding: 0;
      margin-top: 14px; }
  .mg-item-container.art {
    background: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif; }
  .mg-item-container.code {
    background: #002116;
    color: #fff;
    font-family: 'Space Mono', monospace; }
    .mg-item-container.code > div {
      background-color: transparent; }
    .mg-item-container.code .mg-back-to-page {
      color: #99f3da;
      text-transform: lowercase;
      font-size: 22px;
      display: inline-block; }
      .mg-item-container.code .mg-back-to-page span {
        color: #e04d43; }
      .mg-item-container.code .mg-back-to-page:before {
        position: relative;
        top: 3px;
        left: 2px;
        font-size: 19px;
        padding-right: 8px; }
      .mg-item-container.code .mg-back-to-page:hover {
        color: #fff;
        background-color: #e04d43; }
        .mg-item-container.code .mg-back-to-page:hover span {
          color: #fff; }
  .mg-item-container > div {
    margin: 24px;
    padding: 24px;
    min-height: calc(100% - 48px);
    box-sizing: border-box; }
  .mg-item-container .mg-back-to-page {
    text-decoration: none;
    position: relative; }
    .mg-item-container .mg-back-to-page:before {
      font-family: "mg-icons";
      line-height: 1;
      content: '\E000'; }
  .mg-item-container p {
    max-width: 60em;
    margin: 0;
    padding: 0; }

.mg-item-content {
  padding-bottom: 56px; }
  .mg-item-content + .mg-back-to-page {
    position: absolute;
    bottom: 24px; }
  .design .mg-item-content h2 {
    font-size: 36px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #336856;
    margin: 0;
    padding: 0;
    letter-spacing: -0.03em; }
  .design .mg-item-content h3 {
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
    letter-spacing: -0.03em; }
  .design .mg-item-content p {
    font-size: 18px;
    line-height: 1.25;
    font-family: Raleway; }
  .design .mg-item-content p + h2,
  .design .mg-item-content .diagram + h2 {
    margin-top: 32px; }
  .design .mg-item-content p + h3,
  .design .mg-item-content .diagram + h3 {
    margin-top: 28px; }
  .design .mg-item-content p + p,
  .design .mg-item-content .diagram + p {
    margin-top: 18px; }
  .design .mg-item-content p + .mg-prototype-viewer:not(.is-expanded),
  .design .mg-item-content .diagram + .mg-prototype-viewer:not(.is-expanded) {
    margin-top: 24px; }
  .design .mg-item-content .diagram + h3 {
    margin-top: 18px; }
  .design .mg-item-content .diagram + p {
    margin-top: 12px; }
  .design .mg-item-content h2 + p,
  .design .mg-item-content h3 + p {
    margin-top: 8px; }
  .design .mg-item-content .diagram {
    margin-top: 32px; }
    .design .mg-item-content .diagram img,
    .design .mg-item-content .diagram .video {
      display: block;
      margin-bottom: 12px;
      max-width: 100%; }
    .design .mg-item-content .diagram img {
      -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4); }
    .design .mg-item-content .diagram p {
      font-size: 16px; }
    .design .mg-item-content .diagram.flow {
      max-width: 1250px; }
      .design .mg-item-content .diagram.flow > div {
        margin-right: 24px;
        display: inline-block;
        vertical-align: top;
        max-width: calc(50% - 48px); }
        .design .mg-item-content .diagram.flow > div p {
          margin-bottom: 24px; }
      .design .mg-item-content .diagram.flow > p {
        margin-bottom: 36px; }
    .design .mg-item-content .diagram + p + .diagram {
      margin-top: 18px; }
