@import './shared';

.wozz-logo {
    width: 164px;
    flex-shrink: 0;
    @include sitePadding();

    // adjust logo to align with other elements
    img {
        position: relative;
        top: -4px;
    }
}
