@charset "UTF-8";
@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-navigation {
  flex: 1;
  position: relative;
  transition: padding 100ms ease-in-out;
  padding-right: 12px;
  padding-left: 12px; }
  @media (min-width: 992px) {
    .wozz-navigation {
      padding-right: 24px;
      padding-left: 24px; } }
  .wozz-navigation .wozz-menu-btn, .wozz-navigation ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    position: relative; }
    .wozz-navigation .wozz-menu-btn:hover, .wozz-navigation ul li a:hover, .wozz-navigation .wozz-menu-btn:focus, .wozz-navigation ul li a:focus {
      outline: 0;
      background: #008e79; }
  .wozz-navigation .wozz-menu-btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 4px 8px;
    animation: animFadeIn 150ms ease-in-out; }
    .wozz-navigation .wozz-menu-btn:after {
      content: "";
      font-family: "wozz-icons";
      line-height: 1;
      font-size: 10px;
      padding-left: 8px; }
  .wozz-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .wozz-navigation ul li a {
      display: flex;
      align-items: center; }
    .wozz-navigation ul.nav-list {
      flex-direction: row;
      justify-content: space-between;
      max-width: 390px;
      position: relative;
      top: 0;
      background: none;
      overflow: visible;
      width: auto;
      height: auto;
      box-shadow: none;
      animation: animFadeIn 150ms ease-in-out; }
      .wozz-navigation ul.nav-list li:first-child {
        margin-left: 0; }
      .wozz-navigation ul.nav-list li:last-child {
        margin-right: 0; }
      .wozz-navigation ul.nav-list li a {
        white-space: nowrap;
        padding: 4px 8px;
        color: #fff; }
    .wozz-navigation ul.nav-menu {
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      top: 32px;
      background: #fff;
      width: 200px;
      transition: all 100ms ease-in-out;
      overflow: hidden;
      border-radius: 8px;
      height: 0;
      box-shadow: 0 3px 5px 2px transparent; }
      .wozz-navigation ul.nav-menu.show {
        visibility: visible;
        height: 132px;
        box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.17);
        transition-duration: 300ms; }
      .wozz-navigation ul.nav-menu li {
        margin: 0; }
        .wozz-navigation ul.nav-menu li a {
          padding: 0 12px;
          height: 44px;
          color: #00d6bc;
          border-radius: 0; }
          .wozz-navigation ul.nav-menu li a:hover, .wozz-navigation ul.nav-menu li a:focus {
            color: #fff; }
