@import './shared';

.wozz-navigation {
    flex: 1;
    position: relative;
    @include siteBarPadding();

    %navCtrl {
        font-size: 18px;
        color: $foregroundLight;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 500;
        position: relative;

        &:hover,
        &:focus {
            outline: 0;
            background: $darkTeal;
        }
    }

    .wozz-menu-btn {
        background: none;
        border: 0;
        cursor: pointer;
        padding: 4px 8px;
        @extend %navCtrl;

        &:after {
            content: $icon-chevronDown;
            @include iconFont();
            font-size: 10px;
            padding-left: 8px;
        }

        @media (min-width: $vp-lg) {
            display: none;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 32px;
        background: $foregroundLight;
        height: 132px;
        width: 200px;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 3px 5px 2px rgba(0,0,0,0.17);

        &.hide {
            height: 0;
            box-shadow: 0 3px 5px 2px rgba(0,0,0,0);
            transition-duration: 100ms;
        }

        @media (min-width: $vp-lg) {
            flex-direction: row;
            position: relative;
            top: 0;
            background: none;
            overflow: visible;
            width: auto;
            height: auto;
            box-shadow: none;

            &.hide {
                height: auto;
            }
        }
    }

    li {
        margin: 0;

        @media (min-width: $vp-lg) {
            margin: 0 22px;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            @extend %navCtrl;
            display: flex;
            padding: 0 12px;
            height: 44px;
            align-items: center;
            border-radius: 0;
            color: $lightTeal;

            &:hover,
            &:focus {
                color: $foregroundLight;
            }

            @media (min-width: $vp-lg) {
                height: auto;
                padding: 4px 8px;
                border-radius: 8px;
                color: $foregroundLight;
            }

        }

        // &.active {
        //     a:after {
        //         content: "";
        //         width: 24px;
        //         height: 4px;
        //         border-radius: 2px;
        //         position: absolute;
        //         bottom: -10px;
        //         right: 0;
        //         left: 0;
        //         margin: auto;
        //         background: $foregroundLight;
        //     }
        // }
    }
}
