@charset "UTF-8";
.wozz-navigation {
  flex: 1;
  position: relative;
  transition: margin 100ms ease-in-out;
  margin: 0 12px; }
  @media (min-width: 768px) {
    .wozz-navigation {
      margin: 0 24px; } }
  .wozz-navigation .wozz-menu-btn, .wozz-navigation li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    position: relative; }
    .wozz-navigation .wozz-menu-btn:hover, .wozz-navigation li a:hover, .wozz-navigation .wozz-menu-btn:focus, .wozz-navigation li a:focus {
      outline: 0;
      background: #008e79; }
  .wozz-navigation .wozz-menu-btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 4px 8px; }
    .wozz-navigation .wozz-menu-btn:after {
      content: "";
      font-family: "wozz-icons";
      line-height: 1;
      font-size: 10px;
      padding-left: 8px; }
    @media (min-width: 992px) {
      .wozz-navigation .wozz-menu-btn {
        display: none; } }
  .wozz-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    background: #fff;
    height: 132px;
    width: 200px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.17); }
    .wozz-navigation ul.hide {
      height: 0;
      box-shadow: 0 3px 5px 2px transparent;
      transition-duration: 100ms; }
    @media (min-width: 992px) {
      .wozz-navigation ul {
        flex-direction: row;
        position: relative;
        top: 0;
        background: none;
        overflow: visible;
        width: auto;
        height: auto;
        box-shadow: none; }
        .wozz-navigation ul.hide {
          height: auto; } }
  .wozz-navigation li {
    margin: 0; }
    @media (min-width: 992px) {
      .wozz-navigation li {
        margin: 0 22px; } }
    .wozz-navigation li:first-child {
      margin-left: 0; }
    .wozz-navigation li:last-child {
      margin-right: 0; }
    .wozz-navigation li a {
      display: flex;
      padding: 0 12px;
      height: 44px;
      align-items: center;
      border-radius: 0;
      color: #00d6bc; }
      .wozz-navigation li a:hover, .wozz-navigation li a:focus {
        color: #fff; }
      @media (min-width: 992px) {
        .wozz-navigation li a {
          height: auto;
          padding: 4px 8px;
          border-radius: 8px;
          color: #fff; } }
