@import './shared';

.wozz-navigation {
    flex: 1;
    position: relative;
    @include sitePadding();

    %navCtrl {
        font-size: 18px;
        color: $foregroundLight;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 500;
        position: relative;

        &:hover,
        &:focus {
            outline: 0;
            background: $darkTeal;
        }
    }

    .wozz-menu-btn {
        background: none;
        border: 0;
        cursor: pointer;
        padding: 4px 8px;
        @extend %navCtrl;
        animation: animFadeIn 150ms ease-in-out;

        &:after {
            content: $icon-chevronDown;
            @include iconFont();
            font-size: 10px;
            padding-left: 8px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            a {
                @extend %navCtrl;
                display: flex;
                align-items: center;
            }

            // &.active {
            //     a:after {
            //         content: "";
            //         width: 24px;
            //         height: 4px;
            //         border-radius: 2px;
            //         position: absolute;
            //         bottom: -10px;
            //         right: 0;
            //         left: 0;
            //         margin: auto;
            //         background: $foregroundLight;
            //     }
            // }
        }

        &.nav-list {
            flex-direction: row;
            justify-content: space-between;
            max-width: 390px;
            position: relative;
            top: 0;
            background: none;
            overflow: visible;
            width: auto;
            height: auto;
            box-shadow: none;
            animation: animFadeIn 150ms ease-in-out;

            li {
                // margin: 0 22px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    white-space: nowrap;
                    padding: 4px 8px;
                    color: $foregroundLight;
                }
            }
        }

        &.nav-menu {
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            top: 32px;
            background: $foregroundLight;
            width: 200px;
            transition: all 100ms ease-in-out;
            overflow: hidden;
            border-radius: 8px;
            height: 0;
            box-shadow: 0 3px 5px 2px rgba(0,0,0,0);

            &.show {
                visibility: visible;
                height: 132px;
                box-shadow: 0 3px 5px 2px rgba(0,0,0,0.17);
                transition-duration: 300ms;
            }

            li {
                margin: 0;

                a {
                    padding: 0 12px;
                    height: 44px;
                    color: $lightTeal;
                    border-radius: 0;

                    &:hover,
                    &:focus {
                        color: $foregroundLight;
                    }
                }
            }
        }
    }
}
