@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-page-container {
  flex: 1; }
  .wozz-page-container .wozz-page-content {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    .wozz-page-container .wozz-page-content .heading-title-1 {
      font-size: 30px;
      font-weight: 400;
      line-height: 1.25; }
  .wozz-page-container .wozz-page-main,
  .wozz-page-container .wozz-page-aside {
    padding: 22px 0; }
  .wozz-page-container .wozz-page-main {
    flex: 1;
    padding-right: 11px; }
  .wozz-page-container .wozz-page-aside {
    flex: 0 0 456px;
    padding-left: 11px; }
