@charset "UTF-8";
.mg-prototype-viewer.is-featured {
  position: absolute;
  top: 24px;
  right: 24px;
  animation: tsundere 6000ms linear 0ms 4 normal none running; }

@keyframes tsundere {
  0% {
    transform: rotate(0); }
  83% {
    transform: rotate(0); }
  85% {
    transform: rotate(-5deg); }
  87% {
    transform: rotate(7deg); }
  89% {
    transform: rotate(-3deg); }
  91% {
    transform: rotate(4deg); }
  93% {
    transform: rotate(-2deg); }
  95% {
    transform: rotate(2deg); }
  97% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0); } }

.design .mg-prototype-viewer {
  padding: 8px 12px 4px 10px; }
  .design .mg-prototype-viewer > a {
    padding: 0;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.05em;
    position: relative;
    z-index: 1;
    cursor: pointer; }
    .design .mg-prototype-viewer > a:before {
      content: "";
      background: #4f9e81;
      position: absolute;
      z-index: -1;
      left: -10px;
      top: -8px;
      right: -12px;
      bottom: -4px;
      transform: skewX(-20deg); }
    .design .mg-prototype-viewer > a:hover:before {
      background: #336856; }

.mg-prototype-viewer.is-expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .mg-prototype-viewer.is-expanded > div {
    position: relative; }
  .mg-prototype-viewer.is-expanded .mg-prototype-controls {
    position: absolute;
    top: -40px;
    right: 0;
    display: flex; }
    .mg-prototype-viewer.is-expanded .mg-prototype-controls > button {
      border: 0;
      outline: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      width: 32px;
      height: 32px;
      font-size: 16px;
      transition: transform 100ms ease-in-out;
      cursor: pointer;
      margin-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mg-prototype-viewer.is-expanded .mg-prototype-controls > button:first-child {
        margin-left: 0; }
      .mg-prototype-viewer.is-expanded .mg-prototype-controls > button:hover {
        transform: scale(1.1); }
      .mg-prototype-viewer.is-expanded .mg-prototype-controls > button:focus {
        border: 1px solid #fff;
        -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }
      .mg-prototype-viewer.is-expanded .mg-prototype-controls > button.orientation {
        font-size: 16px; }
        .mg-prototype-viewer.is-expanded .mg-prototype-controls > button.orientation:hover {
          transform: scale(1.1) rotateZ(-6deg); }
        .mg-prototype-viewer.is-expanded .mg-prototype-controls > button.orientation:before {
          font-family: "mg-icons";
          line-height: 1;
          content: ""; }
      .mg-prototype-viewer.is-expanded .mg-prototype-controls > button.close {
        font-size: 13px; }
        .mg-prototype-viewer.is-expanded .mg-prototype-controls > button.close:before {
          font-family: "mg-icons";
          line-height: 1;
          content: ""; }
