@import './shared.scss';
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500');

.mg-prototype-autography {
    $red: #ce003b;
    $light: #fff;

    @include dropShadow();
    overflow: hidden;
    position: relative;
    font-family: "Catamaran", sans-serif;
    width: 375px;
    height: 667px;

    .is-landscape & {
        width: 667px;
        height: 375px;
    }

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    .ag-canvas,
    .ag-book {
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateY(100%);
        transition: all 250ms step-end;
        z-index: 2;

        &.current {
            transition: transform 250ms ease-in-out, z-index 250ms step-end;
            transform: translateY(0);
            z-index: 1;
        }

        .logo {
            width: 147px;
            padding: 12px 20px 0;
        }

        .drag-bar {
            height: 29px;
            width: calc(100% - 38px);
            position: absolute;
            top: -34px;
            background: transparent;
            padding-left: 38px;
            padding-top: 5px;
            overflow: hidden;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: inherit;
                border-top-left-radius: 20px;

                @include dropShadow($x: -2px, $y: 0, $blur: 5px);
            }

            &:after {
                @include iconFont();
                content: $icon-triangle;
                font-size: 14px;
                position: relative;
                top: 1px;
                left: 9px;
            }
        }

        .settings {
            background: none;
            border: none;
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            top: 12px;
            right: 12px;
            padding: 0;
            margin: 0;
            opacity: 0.5;
            cursor: pointer;
            outline: 0;

            &:before {
                @include iconFont();
                content: $icon-gear2;
                font-size: 20px;
                line-height: 1;
                position: relative;
            }

            &:hover,
            &:focus {
                @include animation(rotate, $dur: 3000ms);
                opacity: 1;
            }
        }
    }


    .ag-canvas {
        background: $light;

        .drag-bar {
            &:before {
                background: $light;
            }
        }

        #inker {
            background: repeating-linear-gradient(
                180deg,
                #fff,
                #fff 19px,
                #ccc 10px,
                #ccc 20px
            );
        }

        .ag-canvas-handler {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: url(../images/prototypes/autography/sign-here.svg);
                display: block;
                position: absolute;
                z-index: 1;
                width: 185px;
                opacity: 0;
                transition: opacity 500ms ease-in-out;
                pointer-events: none;
            }

            &.show-helper {
                &:before {
                    opacity: 1;
                }
            }
        }


        .canvas-actions {
            padding: 4px 8px;
            display: flex;
            justify-content: flex-end;

            button {
                border: 0;
                font-size: 16px;
                color: $light;
                padding: 4px 8px;
                background: $red;
                border-radius: 4px;
                margin: 0 4px;
                transition: transform 100ms ease;
                outline: 0;

                &:hover {
                    transform: scale(1.1);
                    @include dropShadow();
                }

                &:focus {
                    padding: 3px 7px;
                    border: 1px solid  $light;
                    @include dropShadow(0, 0, 0, 1px, $red)
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }

    .ag-book {
        background: $red;
        color: $light;
        fill: $light;
        display: flex;
        flex-direction: column;

        .logo {
            path {
                fill: #fff;
            }
        }

        .settings {
            color: $primaryLight;
        }

        .drag-bar {
            &:before {
                background: $red;
            }
        }

        h1 {
            color: inherit;
            font-size: 48px;
            text-transform: none;
            font-weight: 500;
            margin: 0;
            padding: 0 20px;
            text-shadow: -3px 4px 0 rgba(0,0,0,0.4);
        }

        > ul {
            list-style: none;
            margin: 16px 0 0 0;
            padding: 0 0 40px 0;
            overflow-x: hidden;
            overflow-y: auto;

            li {
                padding: 0 20px 18px 20px;
                > img {
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 12px;
                }

                .sig-img {
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    height: 100px;
                    width: calc(100% - 112px);
                    padding: 12px;
                    background: repeating-linear-gradient(
                        180deg,
                        #fff,
                        #fff 19px,
                        #ccc 10px,
                        #ccc 20px
                    );
                    @include dropShadow();

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .sig-metadata {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    padding-top: 8px;
                }

                .sig-name {
                    font-size: 21px;
                    line-height: 1;
                }

                .sig-date {
                    font-size: 16px;
                    line-height: 1;
                    color: #ccc;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .ag-settings-page {
        height: 100%;
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        position: absolute;
        transition: all 250ms ease-in-out;
        z-index: 3;
        background: $red;
        color: $primaryLight;

        &.is-transitioning {
            transform: translateX(100%);
        }

        .logo {
            width: 147px;

            svg {
                fill: $primaryLight;
                max-width: 100%;
            }
        }

        h1 {
            color: inherit;
            font-size: 48px;
            text-transform: none;
            font-weight: 500;
            margin: 0;
            padding: 0;
            text-shadow: -3px 4px 0 rgba(0,0,0,0.4);
        }

        h1 + p {
            margin-top: 12px;
        }

        .close {
            background: none;
            border: none;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 12px;
            right: 12px;
            padding: 0;
            margin: 0;
            opacity: 0.5;
            cursor: pointer;
            outline: 0;
            color: $primaryLight;
            transform-origin: right center;
            transition: transform 100ms linear;

            &:before {
                @include iconFont();
                content: $icon-close;
                font-size: 16px;
                line-height: 1;
                position: relative;
            }

            &:hover,
            &:focus {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

}
