$green: #00e0a3;
$darkgreen: #002a1c;
$lightgreen: #99f3da;
$darkblue: #009999;
$lightblue: #00ffff;
$pink: #FF1A6D;
$gray: #9CB2A9;

$primaryLight: #fff;
$primaryDark: #000;

$mq-small: 576px;
$mq-medium: 768px;
$mq-large: 992px;
$mq-extralarge: 1200px;
$mq-max: 1600px;
