$green: #00e0a3;
$darkgreen: #002116;
$lightgreen: #99f3da;
$darkblue: #009999;
$lightblue: #00ffff;
$pink: #FF1A6D;
$gray: #9CB2A9;

$aquamarine: #99f3da;
$mediumAquamarine: #4f9e81;
$mediumTeal: #4d7769;
$darkTeal: #336856;
$contrastSalmon: #e04d43;
$contrastLavender: #7c66a8;
$pale: #c9e6de;

$primaryLight: #fff;
$primaryDark: #000;

$mq-small: 576px;
$mq-medium: 768px;
$mq-large: 992px;
$mq-extralarge: 1200px;
$mq-max: 1600px;
