@charset "UTF-8";
@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-site-search {
  display: flex;
  transition: padding 100ms ease-in-out;
  padding-right: 12px;
  padding-left: 12px; }
  @media (min-width: 992px) {
    .wozz-site-search {
      padding-right: 24px;
      padding-left: 24px; } }
  .wozz-site-search.expand {
    position: fixed;
    width: calc(100% - 24px);
    height: 82px;
    background: #00d6bc;
    display: flex;
    justify-content: center;
    align-items: center; }
    .wozz-site-search.expand input {
      flex: 1; }
      .wozz-site-search.expand input + .search-go {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
  .wozz-site-search input,
  .wozz-site-search button {
    box-sizing: border-box;
    height: 36px;
    padding: 0;
    border: 3px solid #008e79;
    border-radius: 8px;
    display: flex;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    box-sizing: border-box; }
    .wozz-site-search input:focus,
    .wozz-site-search button:focus {
      outline: 0;
      box-shadow: inset 0 0 3px 1px #00d6bc; }
  .wozz-site-search input {
    padding: 0 8px;
    position: relative;
    background: #fff;
    flex: 1;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: -3px; }
    @media (min-width: 576px) {
      .wozz-site-search input {
        width: 196px; } }
    @media (min-width: 768px) {
      .wozz-site-search input {
        width: 256px; } }
  .wozz-site-search button {
    width: 36px;
    background: #008e79;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .wozz-site-search button:before {
      font-family: "wozz-icons";
      line-height: 1;
      color: #fff;
      font-size: 20px; }
    .wozz-site-search button.search-go:before {
      content: ""; }
    @media (min-width: 576px) {
      .wozz-site-search button.search-go {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }
    .wozz-site-search button.search-cancel {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-left: 8px; }
      .wozz-site-search button.search-cancel:before {
        font-size: 16px;
        content: ""; }
    .wozz-site-search button:active {
      background: #ffda00;
      box-shadow: none;
      color: #008e79; }
      .wozz-site-search button:active:before {
        color: inherit; }
    .wozz-site-search button span {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden; }
