@charset "UTF-8";
.wozz-site-search {
  display: flex;
  transition: margin 100ms ease-in-out;
  margin: 0 12px; }
  @media (min-width: 768px) {
    .wozz-site-search {
      margin: 0 24px; } }
  @media (max-width: 768px) {
    .wozz-site-search:not(.hide) {
      position: fixed;
      width: calc(100% - 24px);
      height: 82px;
      background: #00d6bc;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wozz-site-search:not(.hide) input {
        flex: 1; } }
  .wozz-site-search input,
  .wozz-site-search button {
    height: 36px;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #008e79;
    border-radius: 8px;
    outline: 0; }
  .wozz-site-search input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 8px;
    position: relative;
    right: -3px;
    background: #fff; }
    .wozz-site-search input:focus {
      box-shadow: inset 0 0 3px 1px #00d6bc; }
    @media (min-width: 768px) {
      .wozz-site-search input {
        width: 196px; } }
    @media (min-width: 992px) {
      .wozz-site-search input {
        width: 256px; } }
  .wozz-site-search button {
    width: 36px;
    background: #008e79;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .wozz-site-search button:before {
      font-family: "wozz-icons";
      line-height: 1;
      color: #fff;
      font-size: 20px; }
    .wozz-site-search button.search-go:before {
      content: ""; }
    .wozz-site-search button.search-cancel {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-left: 8px; }
      .wozz-site-search button.search-cancel:before {
        font-size: 16px;
        content: ""; }
      @media (min-width: 768px) {
        .wozz-site-search button.search-cancel {
          display: none; } }
    .wozz-site-search button:focus {
      box-shadow: inset 0 0 3px 1px #00d6bc; }
    .wozz-site-search button span {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden; }
  .wozz-site-search.hide input,
  .wozz-site-search.hide .search-cancel {
    display: none; }
    @media (min-width: 768px) {
      .wozz-site-search.hide input,
      .wozz-site-search.hide .search-cancel {
        display: inline-block; } }
  .wozz-site-search.hide input + .search-go {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    @media (min-width: 768px) {
      .wozz-site-search.hide input + .search-go {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }
  @media (min-width: 768px) {
    .wozz-site-search.hide .search-cancel {
      display: none; } }
