@import './shared';

.wozz-site-bar {
    background: $lightTeal;
    background: linear-gradient(to top, $lightTeal 0%, darken($lightTeal, 5%) 95%, $lightTeal 100%);
    // border-bottom-left-radius: 6px;
    // border-bottom-right-radius: 6px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    @include dropShadow();
    animation: slideDown 250ms ease-in-out;

    > div {
        margin: 0 auto;
        max-width: $vp-max;
        display: flex;
        height: 82px;
        align-items: center;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}
