@import './shared';

.wozz-site-search {
    display: flex;
    @include sitePadding();

    &.expand {
        position: fixed;
        width: calc(100% - 24px);
        height: 82px;
        background: $lightTeal;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            flex: 1;

            + .search-go {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    input,
    button {
        height: 36px;
        padding: 0;
        box-sizing: border-box;
        border: 3px solid $darkTeal;
        border-radius: 8px;

        @include controlFocus();
    }

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0 8px;
        position: relative;
        right: -3px;
        background: $foregroundLight;

        @media (min-width: $vp-1) {
            width: 196px;
        }

        @media (min-width: $vp-2) {
            width: 256px;
        }
    }

    button {
        width: 36px;
        background: $darkTeal;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            @include iconFont();
            color: $foregroundLight;
            font-size: 20px;
        }

        &.search-go {
            &:before {
                content: $icon-search;
            }

            @media (min-width: $vp-1) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.search-cancel {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            margin-left: 8px;

            &:before {
                font-size: 16px;
                content: $icon-cancel;
            }
        }

        @include buttonActive();
        @include hideText();
    }
}
