@import './shared';

.wozz-thing {
    .wozz-page-container {
        .wozz-page-content {
            @include sitePadding();
            padding-top: 22px;
            padding-bottom: 22px;

            .wozz-thing-illustration {
                @include annotatorWrapper();
            }
        }

    }
}

.wozz-load-icon {
    width: 100px;
    height: 100px;
    transform-origin: center;
    animation: spin 5000ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
