@keyframes animFadeIn {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

.wozz-thing .wozz-page-container .wozz-page-content {
  transition: padding 100ms ease-in-out;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 22px;
  padding-bottom: 22px; }
  @media (min-width: 992px) {
    .wozz-thing .wozz-page-container .wozz-page-content {
      padding-right: 24px;
      padding-left: 24px; } }
  .wozz-thing .wozz-page-container .wozz-page-content .wozz-thing-illustration {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #00d6bc;
    margin-bottom: 12px;
    background: url("../images/background.png");
    font-size: 0; }
    .wozz-thing .wozz-page-container .wozz-page-content .wozz-thing-illustration > img {
      display: inline-block; }
