@import './shared';

.wozz-title-bar {
    background: $darkTeal;
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
    color: $foregroundLight;
    text-transform: uppercase;
    transition: transform 300ms ease-in-out;
    @include dropShadow();
    position: relative;
    transform: translateY(0);

    &.title-bar-appear,
    &.title-bar-enter {
        transform: translateY(-120%);
    }

    &.title-bar-appear-active,
    &.title-bar-enter-active {
        transform: translateY(0);
    }

    &.withdraw {
        animation: animWithdrawUp 300ms 5000ms forwards ease-in-out;
    }

    h1 {
        font-size: 24px;
        line-height: 1;
    }

    @keyframes animWithdrawUp {
        0% {
            margin-top: 0;
        }
        100% {
            margin-top: -54px;
        }
    }
}
