@import "../design-system/common";

.wozz-add {
    .wozz-page-container {
        display: flex;
        flex-direction: column;

        .wozz-page-content {
            padding: 0;
            flex: 1;
            margin-top: -65px;
            position: relative;

            &:before,
            &:after {
                content: '';
                position: fixed;
                top: 0;
                bottom: 0;
                z-index: -1;
            }

            &:before {
                background: $teal-tint-10;
                left: 0;
                right: 50%;
            }

            &:after {
                background: $teal-tint-30;
                left: 50%;
                right: 0;
            }
        }
    }

    .wozz-add-choose-img,
    .wozz-add-name-thing,
    .wozz-add-tag-thing {
        padding-top: 65px;
        align-self: stretch;
        flex: 1;

        p {
            max-width: 332px;
            margin-right: auto;
            margin-left: auto;
            font-weight: 500;
            line-height: 1.33;
        }
    }

    .wozz-add-choose-img {
        background: $teal-tint-10;
    }

    .wozz-add-name-thing {
        background: $teal-tint-20;
    }

    .wozz-add-tag-thing {
        background: $teal-tint-30;
    }

    .wozz-add-next {
        margin: 0 auto;
        max-width: 332px;
        text-align: right;
    }
}
