@import "../design-system/common";

.annotation-label {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    color: $foregroundLight;
    background: $foregroundDark;
    position: absolute;
    padding: 8px 12px;
    cursor: default;
    z-index: 3;
    display: flex;
    max-width: 256px;

    &:before {
        content: '';
        border-radius: inherit;
        height: inherit;
        width: inherit;
        position: absolute;
    }

    &:before {
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border: 2px solid $foregroundLight;
        z-index: 4;
    }

    .label-text {
        max-width: inherit;
        overflow: hidden;
    }

    .label-editor {
        flex-grow: 0;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        background: inherit;
        box-sizing: border-box;
        @include controlFocus();
        padding: 4px 8px;
        margin: -4px -8px;
        max-width: inherit;
    }

    .hidden-text-width {
        position: absolute;
        top: -30px;
        white-space: pre;
        max-width: inherit;
        visibility: hidden;
    }

    .label-dragger-btn,
    .label-edit-btn,
    .label-edit-cancel-btn {
        position: absolute;
        right: -10px;
        height: 20px;
        width: 20px;
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.01;
        transition: opacity 250ms ease-in-out;
        z-index: 5;
        background: transparent;
        
        @include hideText();
        
        &:focus {
            outline: 0;
            opacity: 1;
            
            &:before {
                color: $foregroundDark;
            }
        }
        
        &:before {
            color: $foregroundLight;
            font-size: 10px;
            width: 20px;
            @include iconFont();
            position: relative;
            z-index: 5;
            background: $midTeal;
            border-radius: 100%;
            height: inherit;
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:after {
            height: inherit;
            width: inherit;
            background: $darkTeal;
            border-radius: 100%;
            position: absolute;
            right: -1px;
            bottom: -1px;
            content: "";
            z-index: -1;
        }

        &:active {
            transform: translate(1px, 1px);

            &:after {
                display: none;
            }
        }
    }

    .label-dragger-btn {
        top: -10px;

        &:before {
            content: $icon-gripper;
            font-size: 12px;
        }
    }

    .label-edit-btn {
        bottom: -10px;

        &:before {
            content: $icon-edit;
        }
    }

    .label-edit-cancel-btn {
        bottom: -10px;
        right: -32px;

        &:before {
            content: $icon-cancel;
            font-size: 9px;
        }
    }

    &.is-editing {
        .label-edit-btn {
            &:before {
                content: $icon-checkmark;
            }
        }
    }

    &:hover,
    &.is-editing,
    &.is-dragging,
    &.flash {
        .label-dragger-btn,
        .label-edit-btn,
        .label-edit-cancel-btn {
            opacity: 1;
        }
    }

}
