@import "../design-system/common";

.wozz-editor {
    @include annotatorWrapper();
}

.wozz-edit-mode {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 102px 20px 20px;
    z-index: 12;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .wozz-edit-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        @include sitePadding();
        height: 82px;
        background: $teal-shade-20;
        @include dropShadow();
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: slideDown 250ms ease-in-out;

        .heading {
            color: $foregroundLight;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
        }

        button {
            display: inline-flex;
            font-size: 18px;
            font-weight: 500;
            height: 38px;
            padding: 0 12px;
            border: 0;
            font-family: inherit;
            border-radius: $border-radius-small;
            color: $foregroundLight;

            &.btn-submit {
                background: $teal;
            }

            &.btn-cancel {
                margin-left: 20px;
                background: rgba(0,0,0,0.6);
            }

            &.wozz-tab-focus:focus {
                @include dropShadow();
                outline: 0;
            }

            &:active {
                transform: translate(1px, 1px);
                outline: 0;
            }
        }
    }

    .wozz-annotator img {
        max-width: 100%;
        animation: imgFadeIn 250ms ease-in-out;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes imgFadeIn {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
