@import "../design-system/common";

.wozz-page-container {
    flex: 1;
    display: flex;

    .wozz-page-content {
        animation: pageFadeIn 300ms ease-in-out;

        @keyframes pageFadeIn {
            0% {
                opacity: 0.1;
            }
            100% {
                opacity: 1.0;
            }
        }

        display: flex;
        max-width: $vp-4;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        @include sitePadding();

        @media (max-width: $vp-3) {
            flex-direction: column;
        }
    }

    .wozz-page-singlet {
        padding: 22px;
    }

    .wozz-page-main,
    .wozz-page-aside {
        padding: 22px 11px;
    }

    .wozz-page-main {
        flex: 1;
    }

    .wozz-page-aside {
        flex: 0 0 456px;
    }
}
