@import "../design-system/common";

.wozz-ctrl-select {
    display: flex;
    flex-basis: 76px;
    position: relative;

    select {
        display: none;
    }

    > button {
        @include controlCommon();
        @include controlInput();
        @include controlFocus();
        display: flex;
        align-items: center;
        text-align: left;
        font-family: inherit;
        font-size: 14px;
        padding-right: 22px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 4px;

        &:after {
            @include iconFont();
            content: $icon-chevronDown;
            color: $teal-shade-20;
            position: absolute;
            right: 4px;
        }
    }

    ul {
        @include dropDownStyles($width: 76px, $top: 36px);
    }
}
