@import "../design-system/common";

.wozz-site-search {
    display: flex;
    position: relative;
    @include sitePadding();

    &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 24px;
            bottom: 0;
            left: 27px;
            border-radius: $border-radius-large;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
        }

    &:focus-within {
        &:before {
            opacity: 1;
        }
    }

    &.expand {
        position: fixed;
        width: calc(100% - 24px);
        height: 82px;
        background: $teal;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            flex: 1;

            + .search-go {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    input,
    button {
        box-sizing: border-box;
        @include controlCommon();
        @include controlFocus();
    }

    input {
        @include controlInput();
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        right: -3px;

        @media (min-width: $vp-1) {
            width: 196px;
        }

        @media (min-width: $vp-2) {
            width: 256px;
        }
    }

    button {
        width: 36px;
        @include controlButton();

        &:before {
            @include iconFont();
            color: $foregroundLight;
            font-size: 20px;
        }

        &.search-go {
            &:before {
                content: $icon-search;
            }

            @media (min-width: $vp-1) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.search-cancel {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            margin-left: 8px;

            &:before {
                font-size: 16px;
                content: $icon-cancel;
            }
        }

        @include buttonActive();
        @include hideText();
    }
}
