@import "../design-system/common";

.wozz-site-bar {
    background: $teal;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    @include dropShadow();
    animation: slideDown 250ms $shotgun2Pillow;
    // padding-bottom: 10px;

    > div {
        margin: 0 auto;
        max-width: $vp-4;
        display: flex;
        height: 82px;
        align-items: center;
        @include sitePadding();
    }

    // &:after {
    //     content: "";
    //     background: linear-gradient(to bottom, $teal-shade-20 0%, lighten($teal-shade-20, 5%) 95%, $teal-shade-20 100%);
    //     width: 100%;
    //     position: absolute;
    //     bottom: 0px;
    //     height: 10px;
    // }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}
