@import './design-system/reset';
@import './design-system/common';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

@font-face {
  font-family: "wozz-icons";
  src:url("./fonts/wozzica.eot");
  src:url("./fonts/wozzica.eot?#iefix") format("embedded-opentype"),
    url("./fonts/wozzica.woff") format("woff"),
    url("./fonts/wozzica.ttf") format("truetype"),
    url("./fonts/wozzica.svg#mg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: $fontFamily;
    background-color: $teal-tint-10;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;

    &.wozz-link {
        color: $teal-shade-20;

        &:hover {
            text-decoration: underline;
        }
    }
}

strong {
    font-weight: 600;
}

*:focus {
    outline: 0;
}

.wozz-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wozz-term {
    font-style: italic;
    color: $teal-shade-20;
}

.wozz-hyperlink {
    color: $teal;
    text-decoration: underline;
}

.wozz-paragraph {
    font-size: 18px;
    line-height: 1.2;
    margin-top: .9em;
    max-width: 50em;
}
